@kannkyo:registry=https://monster:10081/api/v4/packages/npm/
//monster:10081/api/v4/packages/npm/:_authToken=${CI_JOB_TOKEN}
//monster:10081/api/v4/projects/${CI_PROJECT_ID}/packages/npm/:_authToken=${CI_JOB_TOKEN}
